<div class="left-wrapper">
  <div class="field-wrapper">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText />
      <label for="float-input">Input 4</label>
    </span>
  </div>
  <div class="field-wrapper">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText />
      <label for="float-input">Input 5</label>
    </span>
  </div>
  <div class="field-wrapper">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText />
      <label for="float-input">Input 6</label>
    </span>
  </div>
</div>
